/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- MY STYLES --- */

*{
  box-sizing: border-box;
}

body{
  background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #444349;
}

/* Header stylest */

.content{
  width: 100vw;
  height: 100vh;
  background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat 70% center;
  background-size: cover;
  display: table;
  text-align: center;
}

.hero-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.herotext-wrapper{
  width: 100%;
  margin: 0 auto;
  background-color: hsla(100, 0%, 0%, .5);
  border-radius: 4px;
  color: hsla(0, 0%, 100%, .9);
  padding: 1.25rem;
}

.tagline{
  color: hsla(0, 0%, 100%, .9);
  letter-spacing: .15rem;
  font-size: 1.25rem;
}

.tagline::after{
  display: block;
  content: "";
  height: 1px;
  background-color: #fff;
  width: 12.515625rem;
  margin: .5rem auto;
}

.herotext-wrapper h1{
  font-family: 'Great Vibes', cursive;
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.date{
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.date::before{
  display: inline-block;
  content: "";
  height: 1px;
  background-color: #fff;
  vertical-align: middle;
  width: 1.5rem;
}

.date::after{
  display: inline-block;
  content: "";
  height: 1px;
  background-color: #fff;
  vertical-align: middle;
  width: 1.5rem;
}

/* Location styles */

.locations{
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

.locations h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin-bottom: 1.5rem;
  
}

.locals{
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.locals::after{
  content: "";
  display: block;
  height: 4px;
  width: 7.5rem;
  background-color: #444349;
  margin: 1.5rem auto;
}

.locals img{
  height: 7.5rem;
  margin-bottom: 1.5625rem;
}

.locals h3{
  font-weight: 700;
  font-size: 1.5625rem;
  margin-bottom: 1.5rem;
}

.locals div{
  font-family: 'Muli', sans-serif;
  vertical-align: baseline;
}

/* Program styles */

.program{
  width: 100 vw;
  background-color: hsla(100, 0%, 0%, .6);
  color: #d2ba87;
  padding: 1.5rem;
}

.program h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  padding: 1.875rem 0;
  text-align: center;
}

.program-wrapper{
  width: 100%;
}

.program-wrapper p{
  font-style: italic;
  margin: .3125rem;
  font-size: 1rem;
  text-align: left;
}

.program-wrapper ul{
  list-style: none;
  letter-spacing: .25rem;
}

.program-wrapper ul li{
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}

/* Gifts styles */

.gifts{
  width: 98%;
  margin: 1.5rem auto;
  text-align: center;
  padding: .5rem 1rem;
}

.gifts h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin: 1.5rem 0;
}

.gifts img{
  width: 7.5rem;
  height: 7.5rem;
}

.gifts p{
  margin: 1.5rem 0;
  font-size: 1.125rem;
}

/* FAQ styles */

.faq{
  width: 100vw;
  background-color: hsla(100, 0%, 0%, .6);
  color: #d2ba87;
  text-align: left;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.faq h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin: 1.5rem 0;
  text-align: center;
  
}

.question-group{
  display: block;
  width: 100%;
  text-align: left;
}

.question-group h3{
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
  
}

.question-group p{
  font-family: 'Muli', sans-serif;
}

.question{
  font-weight: 700;
  margin: 1.25rem 0;
  font-size: 1.25rem;
}

.answer{
  font-size: 1.125rem;
}

.faq a{
  color: #bd806e;
  text-decoration: none;
}

.faq a:hover{
  color: #eda087;
  transition: color .3s ease-in-out;
}

.last::after{
  display: block;
  content: "";
  height: .1875rem;
  width: 14.375rem;
  background-color: #d2ba87;
  margin: 25px auto;
}

/* Contact styles */

.contact{
  width: 98%;
  margin: 1.5rem auto;
  padding: .5rem;
  text-align: center;
}

.contact h3{
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin: 1.5rem 0;
}

.contact p{
 margin-bottom: 1.5rem;
 font-size: 1.125rem; 
}

.contact a{
  color: #bd806e;
  text-decoration: none;
}

.contact a:hover{
  color: #eda087;
  transition: color .3s ease-in-out;
}

/* Footer styles */

.foot{
  color: #fff;
  background-color: #606060;
  width: 100vw;
  text-align: center;
  padding: 1.25rem;
}

.foot p{
  font-size: .875rem;
  color: #fff;
  font-family: 'Muli', sans-serif;
}

.foot p a{
  text-decoration: none;
  color: #bd806e;
}

.foot p a:hover{
  color: #eda087;
  transition: color .3s ease-in-out;
}

/* ---- MEDIA QUERIES ----*/

@media (min-width: 768px){
  
  .herotext-wrapper{
    width: 50%;
  }
  
  .herotext-wrapper h1{
    font-size: 6.125rem;
  }
  
  .locals{
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: 0.5rem;
  }
  
  .locals::after{
    display: none;
  }
  
  .program-wrapper{
    width: 33%;
    margin: 1.25rem auto;
    display: block;
    text-align: left;
  }
  
  .program-wrapper p{
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
  }
  
  .program-wrapper ul li{
    font-size: 1.125rem;
  }
  
  .question-group{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: .5rem;
    padding: 1.5rem;
  }
  
  .last::after{
    display: none;
  }
  
}
